


<!--    <div class="card" style="width: 18rem;">-->
<!--    <img border="0" alt="W3Schools" src="https://thiscatdoesnotexist.com/" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">{{employees[0].name}}</h5>-->
<!--      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--      <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--    </div>-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About me</h1>
    <p class="lead">Junior <b>Java</b> Developer with non-commercial expertise in <b>Spring Boot</b>, <b>Hibernate</b> and <b>MySQL</b></p>
    <p>I am a graduate of the Gdańsk University of Technology.
      I have acquired a Master of Science degree in Civil Engineering, receiving a final grade of 5.5 (on a scale of 2.0 to 5.5) on my diploma.
      Since graduation I have worked either as a site engineer and as a bridge designer. </p>
    <p>I have enrolled for a Java programming course led by Software Development Academy in June 2020 with aim to work as a Java Developer.
      Beside basic programming in Java the course covers a wide range of topics including theory of object oriented programming,
      design patterns, SOLID principles and practical implementation of such technologies as Angular, JavaScript, HTML/CSS, Hibernate, JDBC/MySQL or GIT.
      Prior to learning Java I have been learning Python. </p>
    <p>In my day-to-day duties I am responsible, among others, for coordination of works’ and maintaining work schedules.
      I am used to working on large projects with numerous co-workers.
      I believe that I am a good team player and that positive approach along with respect to co-workers are the key for successful projects.</p>
    <p>I am a person who likes to set ambitious goals. I am well-organized, hard-working, reliable and very motivated.
      My work experience on the site assured me that I can effectively work under pressure.
      I have excellent interpersonal and communication skills, good sense of humor and I have an optimistic approach to life.</p>
    <a class="btn btn-outline-dark" [routerLink]="['/','projects']" role="button">Go to my projects</a>
  </div>
</div>
