<div class="jumbotron">

  <h1 class="display-4">Hello there, I'm</h1>
  <h1 class="display-3">Kamil Kukowski</h1>

  <div class="float-left">
    <img src="assets/circle-cropped.png" class="rounded" alt="..." width=40% height=40%>
  </div>

  <p class="lead">Aspiring Junior Backend Developer with great passion for cringe bad jokes, hiking and <b>Java</b></p>

  <hr class="my-4">
  <p>I invite you to get to know me better <br>as well as my projects</p>
  <a class="btn btn-outline-dark" [routerLink]="['/','about']" role="button">More about me</a>
</div>
